.profile__info-grid {
    display: grid;
    row-gap: 16px;
    column-gap: 18px;
    /* grid-template-columns: minmax(294px, 1fr) 24px; */
    /* max-width: 336px; */
    margin: 0;
}

@media screen and (max-width: 627px) {
    .profile__info-grid {
        row-gap: 14px;
        column-gap: 10px;
        margin-bottom: 36px;
    }
}
